<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zeak Store</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Styles.Render("~/Content/homecss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header">
        <a class="header__logo" href="@Url.Action("Index", "Home")"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2560px-Amazon_logo.svg.png" alt=""></a>
        <button id="nav-button" class="header__nav-button">
            <span class="material-icons material-icons-outlined">menu</span>
        </button>
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <span class="material-icons material-icons-outlined">search</span>
            <input type="text" name="text" placeholder="Buscar artículos" value="@ViewBag.SearchText">
            <input type="submit" value="Buscar">
        }
    </header>

    <nav id="nav" class="nav">
        <ul>
            @foreach (string category in ViewBag.Categories)
            {
                <li>@Html.ActionLink(category, "Search", "Home", new { text=category, category = 1 }, new { })</li>
            }
        </ul>
    </nav>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <p>Bienvenido a Zeak Store</p>
        <hr>
        @Html.ActionLink("Nuestras tiendas", "Stores", "Home")
        <br>
        @Html.ActionLink("Ir al administrador", "Index", "Admin")
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/homejs")
    @RenderSection("scripts", required: false)
</body>
</html>
