@model IgnacioQuinteros.Models.Product

@{
    ViewBag.Title = "Article";
}

<div class="article-overview">
    <section class="section section--overview">
        <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <div class="section--overview__row">
            <p>Stock: @Html.DisplayFor(model => model.Stock)</p>
            <h2>$ @Html.DisplayFor(model => model.Price)</h2>
        </div>
    </section>
    <hr>
    <section class="section section--description">
        @Html.Raw(Model.Summary.Replace("\r\n", "<br />"))
    </section>
</div>

<section class="section section--recommended">
    <h1 class="section__title">Productos recomendados</h1>
    <div class="products-grid">
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
    </div>
</section>
