@model IgnacioQuinteros.Models.Product

@{
    ViewBag.Title = "Article";
}

<div class="article-overview">
    <section class="section section--overview">
        <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <div class="section--overview__row">
            <p>Stock: @Html.DisplayFor(model => model.Stock)</p>
            <h2>$ @Html.DisplayFor(model => model.Price)</h2>
        </div>
    </section>
    <hr>
    <section class="section section--description">
        @Html.Raw(Model.Summary)
    </section>
</div>

<section class="section section--recommended">
    <h1 class="section__title">Productos recomendados</h1>
    <div class="products-grid">
        @foreach (IgnacioQuinteros.Models.Product item in ViewBag.RecommendedProducts)
        {
            <article onclick="window.open('@Url.Action("Article", "Home", new { id=item.Id })', '_self')" data-prod-id="@Html.DisplayFor(modelItem => item.Id)" class="product-item">
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="">
                <h1>$ @Html.DisplayFor(modelItem => item.Price)</h1>
                <p>@Html.DisplayFor(modelItem => item.Title)</p>
                <p class="product-item__description">@Html.DisplayFor(modelItem => item.ShortSummary)</p>
            </article>
        }
    </div>
</section>
