@model IEnumerable<IgnacioQuinteros.Models.Product>

@{
    ViewBag.Title = "Home";
}

<section id="cover" class="section section--cover">
    @foreach (var item in ViewBag.CoverProducts)
    {
        <article onclick="window.open('@Url.Action("Article", "Home", new { id=item.Id })', '_self')" class="cover-item cover-item--selected">
            <img src="@item.ImageUrl" alt="">
            <div class="cover-item__info">
                <h1>$ @item.Price</h1>
                <p>@item.Title</p>
            </div>
        </article>
    }
    <button class="section--cover__control control--left">
        <span class="material-icons material-icons-outlined">arrow_back_ios</span>
    </button>
    <button class="section--cover__control control--right">
        <span class="material-icons material-icons-outlined">arrow_forward_ios</span>
    </button>
</section>

<section class="section section--products">
    <h1 class="section__title">Productos destacados</h1>
    <div class="products-grid">
        @foreach(var item in Model)
        {
            <article onclick="window.open('@Url.Action("Article", "Home", new { id=item.Id })', '_self')" data-prod-id="@Html.DisplayFor(modelItem => item.Id)" class="product-item @item.GetMediumClass()">
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="">
                <h1>$ @Html.DisplayFor(modelItem => item.Price)</h1>
                <p>@Html.DisplayFor(modelItem => item.Title)</p>
                <p class="product-item__description">@Html.DisplayFor(modelItem => item.ShortSummary)</p>
            </article>
        }
    </div>
</section>